{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"> 
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
              <li><a href="/corpora/corpora">Corpora</a></li>
              <li><a href="/corpora/authors">Authors</a></li>
              <li><a href="/corpora/texts">Texts</a></li>
              <li><a href="/calculations/">Compute</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <h3>{% block headline %}{% endblock %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
