{% extends "base.html" %}
{% block title %}{{author.name}}{% endblock %}
{% block headline %}{{author.name}}{% endblock %}
{% block content %}
{% if author %}
    <ul>
        <li>Years alive: {{author.birthyear}}-{{author.deathyear}}</li>
        <li>Known places: {{author.places}}</li>
    </ul>
    <h4>Texts</h4>
    {% if texts %}
        <ul>
        {% for text in texts %}
            <li><a href="/corpora/texts/{{ text.id }}/">{{ text.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>no texts available</p>
    {% endif %}
{% endif %}
{% endblock %}
