{% extends "base.html" %}
{% block title %}Settings for Computation{% endblock %}
{% block headline %}Settings for Computation{% endblock %}
{% block content %}
<form name="compute_form" method="POST" action='/compute/result/' enctype="multipart/form-data" role="form">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="y_from_id">from:</label>
        <input id ="y_from_id" type="number" name="y_from">
        <label for="y_to_id">to:</label>
        <input id="y_to_id" type="number" name="y_to">
    </div>
    <div class="form-group">
        <label for="authors_id">Author:</label>
        <select id="authors_id" name="authors" multiple>
            {% for author in author_list %}
                <option value='{{author.name}}'>{{author.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="text_id">title contains</label>
        <input id="text_id" type="text" name="in_title">
    </div>
    <table class="table">
        <tr> <td>
    <h4> step 2 files </h4>
</td>
    </tr>
        <tr>
            <td><input type="radio" name="uploadtype" value="saved_wordlist" checked>stored word list</td>
            <td>
                <select name="wordlist">
                    {% for text in textcoll %}
                    <option value="{{text}}">{{text}}</option>
                    {% endfor%}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="uploadtype" value="uploaded_file">custom word list</td>
            </td>
            <td>
                <input type="file" name="upload_file">
            </td>
        </tr>

        
        <tr>
            <td><h4> Step 3: calculation<h4></td>
        </tr>
        <tr>
            <td>Calculationrule:</td>
            <td>
                <select name="function">
                    <option value="tfidf"> Tfidf </option>
                    <option value="id"> wordcount </option>
                </select>
            
            </td>
        </tr>
        <tr>
            <td>
            <input type="submit">
            <td>
        </tr>



    </table>


</form>
{% endblock %}
