<form name="compute_form" method="POST" action='/compute/result/' enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <td> <p>year:<p></td>
            <td> from: <input type="number" name="y_from"> </td>
            <td> to: <input type="number" name="y_to"> </td>
        </tr>

        <tr>
            <td> <p>Author: </p></td>
            <td> 
                <select name="authors" multiple>
                    {% for author in author_list %}
                        <option value='{{author.name}}'>{{author.name}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td> <p> title contains </p> </td>
            <td> <input type="text" name="in_title"> </td>
        </tr>
        
        <tr>
            <td>
                <br>
            </td>
        </tr>

        <tr>
            <td> <p> step 2 files </p> </td>
        </tr>

        <tr>
            <td><input type="radio" name="uploadtype" value="saved_wordlist">stored word list</td>
            <td>
                <select name="wordlist">
                    <option value="shakespeare">Shakis Words :D</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" selected name="uploadtype" value="uploaded_file">custom word list</td>
            </td>
            <td>
                <input type="file" name="upload_file">
            </td>
        </tr>
        
        <tr>
            <td> calculation</td>
            <td>
                <select name="function">
                    <option value="statistical"> statistical computing </option>
                </select>
            
            </td>
        </tr>
        <tr>
            <td>
            <input type="submit">
            <td>
        </tr>



    </table>


</form>
